<!DOCTYPE html>
<html>
<head>
	<title>My Blog</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
	<div class="wrap">
		<!-- bagian menu -->
		<nav class="menu">
			<ul>
				<li>
					<a href="/home">Dashboard</a>
				</li>
				<li>
					<a href="/aboutLogin">About</a>
				</li>
				<li>
					<a href="/contactLogin">Feedback</a>
                </li>
                <li>
					<a href="/artikel">Articles</a>
                </li>
                <li>
					<a href="/logout">Logout</a>
				</li>
			</ul>
		</nav>
		<!-- akhir bagian menu -->
 
		<!-- bagian sidebar website -->
		<aside class="sidebar">
			<div class="widget">
				<h2>Welcome To My Blog</h2>
				<p>Selamat datang di blog saya, blog ini berisikan cerita,curhatan dan shitposting dari saya. mohon maaf kalo tidak menghibur wong saya bikin ini bukan untuk menghibur anda :v</p>
			</div>
		</aside>
		<!-- akhir bagian sidebar website -->
 
		<!-- bagian konten Blog -->
		<div class="blog">
			<div class="conteudo">
				<img src="/static/macan.jpg" />
				<h2> About Dashboard </h2>
				<hr>
				<p align="justify">
					Dashboards adalah sebuah User Interface yang cukup unik, ia berada diantara data dan desain. Menampilkan berbagai metriks , angka ataupun visualisasi data. Tujuan utama dashboards adalah membantu user untuk membuat keputusan yang tepat dan cepat berdasarkan dari data yang ada.
				</p>				
			</div>
			</div>
		</div>
		<!-- akhir bagian konten Blog -->
	</div>
 
</body>
</html>