<!DOCTYPE html>
<html>
<head>
	<title>My Blog</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
	<div class="wrap">
		<!-- bagian menu		 -->
		<nav class="menu">
			<ul>
				<li>
					<a href="/home">Dashboard</a>
				</li>
				<li>
					<a href="/aboutLogin">About</a>
				</li>
				<li>
					<a href="/contactLogin">Feedback</a>
                </li>
                <li>
					<a href="/artikel">Articles</a>
                </li>
                <li>
					<a href="/logout">Logout</a>
				</li>
			</ul>
		</nav>
		<!-- akhir bagian menu -->
 
		<!-- bagian sidebar website -->
		<!-- bagian sidebar website -->
		<aside class="sidebar">
			<div class="widget">
				<h2>Welcome To My Blog</h2>
				<p>Selamat datang di menu admin jangan di rusak ya :)</p>
			</div>
		</aside>
		<!-- akhir bagian sidebar website -->
 
		<!-- bagian konten Blog -->
		<div class="blog">
			<div class="conteudo">
				<div class="post-info">
				</div>
                <h2> Tulis Artikel </h2>
				    <form method="POST" action="/createArtikel">
						Nama Artikel:<br> 
						<input type="text" name="name" placeholder="Name" autofocus/> <br/>
						<label>Isi Artikel:</label><br>
						<textarea name="isi" rows="7" cols="57" placeholder="Isi Artikel"></textarea> 
						<br>
						<label>Status:</label>
						<br> 
						<select name="status">
							<option value="publish">Publish</option>
							<option value="unpublish">Unpublish</option>
						  </select> 
						<br> 
						<input type="submit" value="Simpan"/>
						<input type="reset" value="Cancel"/>
						<br>
                    </form>
			</div>
			</div>
		</div>
		<!-- akhir bagian konten Blog -->
	</div>
 
</body>
</html>