<!DOCTYPE html>
<html>
<head>
	<title>My Blog</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	</head>
<body>
	<div class="wrap">
		<!-- bagian menu-->
		<nav class="menu">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/contact">Contact Us</a>
                </li>
                <li>
					<a href="/login">Login</a>
				</li>
			</ul>
		</nav>
		<!-- akhir bagian menu -->
 
		<!-- bagian sidebar website -->
		<aside class="sidebar">
			<div class="widget">
				<h2>Welcome To My Blog</h2>
				<p>Selamat datang di blog saya, blog ini berisikan cerita,curhatan dan shitposting dari saya. mohon maaf kalo tidak menghibur wong saya bikin ini bukan untuk menghibur anda :v</p>
			</div>
		</aside>
		<!-- akhir bagian sidebar website -->
		<div class="blog">
			<div class="conteudo">
                <h2> Form Untuk Mengirimkan Pesan Ke Admin </h2>
				    <form method="POST" action="/createPesan">
						Nama : <input type="text" name="nama" placeholder="Name" autofocus/> <br/>
						Email: <input type="email" name="email" placeholder="Email" autofocus/> <br/>
						<label>Pesan:</label><br>
						<textarea name="pesan" rows="7" cols="57" placeholder="Pesan"></textarea> 
						<br>
						<input type="submit" value="Simpan"/>
						<input type="reset" value="Cancel"/>
                    </form>
			</div>
			</div>
		</div>
			</div>
			</div>
		</div>
		<!-- akhir bagian konten Blog -->
	</div>
 
</body>
</html>