<!DOCTYPE html>
<html>
<head>
	<title>My Blog</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
	<div class="wrap">
		<!-- bagian menu-->
		<nav class="menu">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/contact">Contact Us</a>
                </li>
                <li>
					<a href="/login">Login</a>
				</li>
			</ul>
		</nav>
		<!-- akhir bagian menu -->
 
		<!-- bagian sidebar website -->
		
		<!-- akhir bagian sidebar website -->
 
		<!-- bagian konten Blog -->
		<div class="blog">
			<div class="conteudo">
				<h2> Silahkan Register </h2>
				<form method="POST">
				<table align="center">
                    <tr>
						<td>First Name</td>
						
						<td><input name="first_name" type="text" class="validate">
                        </td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td><input name="last_name" type="text" class="validate"></td>
                    </tr>
                    <tr>
						<td>Email</td>
						
						<td><input name="email"  type="email" class="validate">
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input name="password"  type="password" class="validate"></td>
                    </tr>
                   
                    <tr>
                        <td colspan="2"><button type="submit"> Submit</button>
										<button type="reset">Cancel</button></td>
                    </tr>
				</table>	
			</form>	
			</div>
			</div>
		</div>
		<!-- akhir bagian konten Blog -->
	</div>
 
</body>
</html>