<!DOCTYPE html>
<html>
<head>
	<title>My Blog</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>
	<div class="wrap">
		<!-- bagian menu		 -->
		<nav class="menu">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/contact">Contact Us</a>
                </li>
                <li>
					<a href="/login">login</a>
				</li>
			</ul>
		</nav>
		<!-- akhir bagian menu -->
 
		<!-- bagian sidebar website -->
		<aside class="sidebar">
			<div class="widget">
				<h2>Welcome To My Blog</h2>
				<p>Selamat datang di blog saya, blog ini berisikan cerita,curhatan dan shitposting dari saya. mohon maaf kalo tidak menghibur wong saya bikin ini bukan untuk menghibur anda :v</p>
			</div>
		</aside>
 
		<!-- bagian konten Blog -->
		<div class="blog">
			<div class="conteudo">
				<div class="post-info">
				</div>
				<img src="/static/macan.jpg" />
				<h2> About My Blog </h2>
				<hr>
				<p align="justify">
					Selamat datang...
					Blog ini saya buat untuk berbagi informasi ringan seputar dunia Kepolisian dengan bahasa yang lebih bersahabat bila dibandingkan dengan bahasa baku yang digunakan pada Undang-undang, sehingga saya harapkan anda tidak akan mengantuk saat membaca blog saya :-).
					Karena blog ini bersifat pribadi, ditulis sendiri berdasarkan kemampuan dan pengalaman pribadi, mohon maaf apabila ada kesalahan materi atau ada kata-kata saya yang menyinggung rekan-rekan.
					Semoga blog saya bermanfaat.
				</p>				
			</div>
			</div>
		</div>
	</div>
 
</body>
</html>